@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f6f6f6;
  --fg: #111111;
  --accent: #0ea5e9; /* cyan */
}

html, body { background: var(--bg); color: var(--fg); }
a { text-underline-offset: 2px; }
